*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFDB58;
}

.container{
    width: 75%;
    background-color: white;
    margin: 0 auto;
}

.content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

header{
    background-color: blue;
    color: white;
}

header h1{
    text-align: center;
}

.herobg img{
    width: 100%;
}

nav{
    background-color: blue;
}

ul{
    text-align: center;
    list-style:none;
    margin: -4px;
}

li{
    display: inline-block;
    margin: 26px;
}

a{
    color: white;
    text-decoration: none;
}

.lesSimpsons h2{
    color: #FFDB58;
    margin-bottom: 14px;
}

.lesSimpsons{
    text-align: justify;
    margin-bottom: 3%;
}

aside{
    margin: 8.5% 1% 26% 0;
    width: 25%;
    color: white;
    background-color: blue;
}

aside figure{
    padding: 8px 28px;
    text-align: center;
}

aside img{
    width: 100%;
}


aside p{
    margin: 5px;
    text-align: justify;
}

.imagecontent {
    display: flex;
    flex-direction: column;
    margin: 1.5% 0 0 2%;
    width: 70%;
}

.imagecontent figure{
    display: flex;
    justify-content: space-around;
}

.imagecontent img{
    border: 1px solid black;
    margin: 0.2% 0.3%;
    width: 31%;
}


footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 3px;
}


@media only screen and (min-width:768px) and (max-width: 959px) {
    /* tablet */

    li{
        margin: 6px;
    }

    .imagecontent{
        margin: 3.5% 0 1% 2%;
    }

    aside{
        margin: 10% 1% 26% 0;
    }
    
    aside img{
        width: 75%;
    }
}

@media only screen and (max-width:768px) {
    /* phone */
    header h1 {
        font-size: larger;
    }

    .container{
        width: 100%;
    }

    li{
        display: block;
        margin: 0;
        padding: 2px;
    }

    .lesSimpsons h2 {
        text-align: center;

    }

    .imagecontent{
        margin: 4% 2% 0px 2%;
        width: 100%;
    }

    aside {
        width: 100%;
        margin: 3.5% 2% 2% 2%;
    }

    aside p{
        padding: 5px;
    }

    aside img {
        width: 50%;
    }

    aside figure {
        padding: 8px 48px;
    }
}
